html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #475569;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container form {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #cbd5e1;
    margin: 20px;
    border-radius: 3px;
}

.form-container form h1 {
    color: #000000;
    margin: 0 0 20px;
    opacity: 70%;
    /* text-shadow: 0 0 10px #334155; */
}

.form-container form label {
    color: #000000;
}

.form-container form textarea {
    resize: vertical;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    margin-bottom: 15px;
    font-weight: bold;
}

.form-container form textarea:focus {
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #475569;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    margin-bottom: 15px;
}

.form-container form textarea::placeholder {
    color: #475569;
    font-size: medium;
}

.form-container form input {
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: all 200ms ease-in-out;
    font-weight: bold;
}

.form-container form input:focus {
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #475569;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: all 200ms ease-in-out;
}

.form-container form input::placeholder {
    color: #475569;
    font-size: medium;
}

.form-container form input[type='submit'] {
    color: #ffffff;
    background: #334155;
    width: auto;
    border: none;
    margin-bottom: 0;
}

.form-container form input[type='email'] {
    text-transform: lowercase;
}

.form-container form input[type='radio'] {
    display: none;
}

.form-container form div {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.form-container form div a {
    color: #334155;
    width: auto;
    border: none;
    display: block;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

.loader {
    display: flex;
    flex-direction: row;
}

.loader div {
    background: #000000;
    height: 6px;
    width: 6px;
    margin: 3px !important;
    border-radius: 50%;
    animation: rainbow 1500ms infinite linear;
}

@keyframes rainbow {
    0% {
        background: #ff0000;
    }
    20% {
        background: #ffa500;
    }
    40% {
        background: #008000;
    }
    60% {
        background: #0000ff;
    }
    80% {
        background: #4b0082;
    }
    100% {
        background: #ee82ee;
    }
}

.loader div:nth-child(1) {
    animation-delay: 0ms;
}

.loader div:nth-child(2) {
    animation-delay: 100ms;
}

.loader div:nth-child(3) {
    animation-delay: 200ms;
}

.loader div:nth-child(4) {
    animation-delay: 300ms;
}

.loader div:nth-child(5) {
    animation-delay: 400ms;
}

.loader div:nth-child(6) {
    animation-delay: 500ms;
}

.error {
    color: #ff0000;
}

.search-container {
    width: calc(100% - 40px);
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 3px;
}

.search-container input {
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    font-weight: bold;
}

.search-container input:focus {
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #475569;
    outline: none;
    font-size: medium;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

.search-container input::placeholder {
    color: #475569;
    font-size: medium;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 40px);
    max-width: 900px;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    padding-bottom: 20px;
}

.cards .event-card {
    border-radius: 5px;
    padding: 0 30px;
    margin: 10px;
    height: 200px;
}

@media screen and (max-width:705px){
    .event-card {
        width: 100%;
    }
}
@media screen and (min-width:705px) and (max-width:953px){
    .event-card {
        width: calc(50% - 80px);
    }
}
@media screen and (min-width:953px){
    .event-card {
        width: calc(33% - 77px);
    }
}

.cards .event-card span {
    display: inline-block;
    margin: 20px 0;
    padding: 8px;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 5px;
    break: break-all;
}

.new {
    background: #334155;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new div:nth-child(1) {
    background: #ffffff;
    height: 10px;
    width: 50px;
    transform: rotate(90deg);
}
.new div:nth-child(2) {
    background: #ffffff;
    height: 10px;
    width: 50px;
    margin-top: -10px;
}

.dashboard-loading {
    flex-basis: 100%;
    background: #334155;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-loading div {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-right: 10px solid #334155;
    animation: spin 500ms linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.cold {
    background: #2563eb !important;
}
.cold span {
    background: #2f5bba;
}

.normal {
    background: #e9b30b !important;
}
.normal span {
    background: #b3901f;
}

.hot {
    background: #ef4444 !important;
}
.hot span {
    background: #b5444a;
}

.user {
    background: #10b981 !important;
}
.user span {
    background: #1a9473;
}

.cards .event-card h3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.cards .event-card .boundary {
    height: 70px !important;
    overflow: hidden;
}

.cards .event-card p {
    margin: 10px 0;
    padding: 0;
    color: #ffffff;
    width: 100% !important;
    word-break: break-all;
    position: relative;
    line-height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.priority-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px !important;
}

.priority-radio label {
    text-align: center;
    flex: 1 1 auto;
    display: block;
    color: #ffffff !important;
    background: #334155;
    width: auto;
    border: none;
    padding: 10px;
    overflow: hidden;
}
.priority-radio label:nth-child(2) {
    text-align: center;
    flex: 1 1 auto;
    display: block;
    color: #ffffff !important;
    width: auto;
    border: none;
    padding: 10px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.priority-radio label:last-child {
    text-align: center;
    flex: 1 1 auto;
    display: block;
    color: #ffffff !important;
    width: auto;
    border: none;
    padding: 10px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.header-container {
    width: calc(100% - 40px);
    max-width: 500px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 3px;
}

.header-container h2 {
    margin: 0;
    padding: 0 20px;
    color: #cbd5e1;
}

.header-container .backward {
    width: 36px;
    height: 14px;
    margin-top: 0;
    box-sizing: border-box;
}

.header-container .backward div {
    
    height: 4px;
    background: #cbd5e1;
}

.header-container .backward div:nth-child(1) {
    width: 50%;
    transform: rotate(-45deg);
    margin-bottom: 1px;
}

.header-container .backward div:nth-child(2) {
    width: 90%;
    transform: rotate(0deg);
    margin-left: 4px;
}

.header-container .backward div:nth-child(3) {
    width: 50%;
    transform: rotate(45deg);
    margin-top: 1px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 40px);
    max-width: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    padding-bottom: 20px;
}

.card-container .event-card {
    border-radius: 5px;
    padding: 0 30px 10px;
    margin: 10px;
    width: 100%;
}

.card-container .event-card span {
    display: inline-block;
    margin: 20px 0;
    padding: 8px;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 5px;
    word-break: break-all;
}

.card-container .event-card h3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.card-container .event-card .boundary {
    height: auto !important;
    overflow: hidden;
}

.card-container .event-card .boundary p {
    margin: 10px 0;
    padding: 0;
    color: #ffffff;
    width: 100% !important;
    word-break: break-all;
    position: relative;
    line-height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-loading {
    flex-basis: 100%;
    background: #334155;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.event-loading div {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-right: 10px solid #334155;
    animation: spin 500ms linear infinite;
}

.card-container .date-cold,.date-normal,.date-hot {
    margin-bottom: 10px;
}


.card-container .date-cold {
    color: #2f5bba;
}

.card-container .date-normal {
    color: #b3901f;
}

.card-container .date-hot {
    color: #b5444a;
}

.date-user {
    color: #1a9473;
    margin-bottom: 1em;
}

.card-container .footer {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-container .footer button {
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background: transparent;
}

.card-container .footer:nth-child(1) {
    width: 50px;
}

.card-container .footer .button-cold {
    background: #2f5bba !important;
}

.card-container .footer .button-normal {
    background: #b3901f !important;
}

.card-container .footer .button-hot {
    background: #b5444a !important;
}

.card-container .footer .font-cold {
    color: #000000;
}

.card-container .footer .font-normal {
    color: #000000;
}

.card-container .footer .font-hot {
    color: #000000;
}

.card-container .footer button[class*='font-'] div {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: spin 500ms infinite linear;
}

.identifier {
    width: calc(100% - 40px);
    max-width: 900px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.identifier .email {
    color: #ffffff;
}

.identifier .logout {
    color: #334155;
}

.search-container h2 {
    margin: 0;
    padding: 0 20px;
    color: #cbd5e1;
}

.search-container .backward {
    width: 36px;
    height: 14px;
    margin-top: 0;
    box-sizing: border-box;
}

.search-container .backward div {
    
    height: 4px;
    background: #cbd5e1;
}

.search-container .backward div:nth-child(1) {
    width: 50%;
    transform: rotate(-45deg);
    margin-bottom: 1px;
}

.search-container .backward div:nth-child(2) {
    width: 90%;
    transform: rotate(0deg);
    margin-left: 4px;
}

.search-container .backward div:nth-child(3) {
    width: 50%;
    transform: rotate(45deg);
    margin-top: 1px;
}